.main {
  width: 100%;
  height: auto;
  background: url('../../assets/images/bg4.jpg');
  font-family: monospace;
}

.breadcrumb {
  margin-top: 1%;
  margin-right: auto;
}

.card {
  width: 1200px;
  height: auto;
  margin: auto;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: monospace;
}

.who_date {
  margin-top: 1%;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  text-align: left;
}