.main {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(130, 121, 121, 0.3);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(31, 29, 29, 0.3);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  width: 15px;
  height: 45px;
  border-radius: 3px;
  margin: 0 5px;
  animation: wave 1.2s infinite ease-in-out;
}

@keyframes wave {
  0%, 40%, 100% {
    transform: scale(0.4);
  }
  20% {
    transform: scale(1);
  }
}